<section th:fragment="menu" class="nav-transportador">
	<div class="fiinika-nav-main">
        <div data-animation="over-right" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="navbar w-nav">
          <div class="container _1">
            <a href="/admin/dashboard" aria-current="page" class="brand w-nav-brand w--current"></a>
            <nav role="navigation" class="nav-menu w-nav-menu">
              <a href="/admin/dashboard" aria-current="page" class="link-block-17 w-inline-block w--current">
                <div>Dashboard</div>
              </a>
              <div data-delay="0" data-hover="false" class="dropdown-3 w-dropdown">
                <div class="dropdown-toggle-2 w-dropdown-toggle">
                  <div class="icon-2 w-icon-dropdown-toggle"></div>
                  <div>Relatórios</div>
                </div>
                <nav class="dropdown-list-3 w-dropdown-list">
                  <a href="/admin/relatorio/visitante" class="link-inside-dropdown w-dropdown-link">Visitantes</a>
                  <a href="/admin/relatorio/situacao/profissional" class="link-inside-dropdown w-dropdown-link">Situação Profissional</a>
                  <a href="/admin/relatorio/geral" class="link-inside-dropdown w-dropdown-link">Satisfação Geral</a>
                </nav>
              </div>
			  
			  <!-- Link estilizado como botão de logout -->
			  <a href="/logout" class="link-block-17 w-inline-block">
			    <div>Sair</div>
			  </a>
            </nav>
            <div class="menu-button w-nav-button">
              <div class="w-icon-nav-menu"></div>
            </div>
          </div>
        </div>
      </div>
</section>